<div class="combobox" [class.open]="isOpen">
	<div class="combobox-label" (click)="toggle()">
		<span>Manage columns</span>
	</div>
	<div class="combobox-backdrop" (click)="toggle()"></div>
	<div class="dropdown-container">
		<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
			<div class="combobox-list-items">
				<app-node-item *ngFor="let n of items" [nodeItem]="n"></app-node-item>
			</div>
			<div class="combobox-bottom-panel">
				<div class="bottom-panel-content" (click)="onToggleSelectAll()"><span>Select all</span></div>
			</div>
		</div>
	</div>
</div>
