.combobox {
	position: relative;
	display: inline-block;
	.combobox-label {
		cursor: pointer;

		color: rgb(33, 168, 209);
		font-size: 20px;
		font-family: 'Lato', sans-serif;
		margin: 10px;

	}
	.combobox-backdrop {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: fixed;
		display: none;
		z-index: 9;
	}
	&.open {
		.combobox-backdrop {
			display: block;
		}
	}

	.dropdown-container {
		position: absolute;
		bottom: 0;
		.open-close-container {
			position: absolute;
			z-index: 10;
			background-color: #fff;
			top: 0;
			display: flex;
			flex-flow: column;
			box-shadow: 3px  0px  10px rgba(0, 0, 0, 0.226);
			.combobox-list-items {
				flex: 1 1;
				overflow: auto;
				padding: 10px;
			}
			.combobox-bottom-panel {
				flex: 0 1 36px;
				display: flex;
				align-items: center;
				.bottom-panel-content {
					display: inline-block;
					margin: 10px auto;
					cursor: pointer;

					color: rgb(33, 168, 209);
					font-size: 18px;
					font-family: 'Lato', sans-serif;
				}
			}
		}
	}
}
