<mat-toolbar color="primary">
  {{ title }}
</mat-toolbar>

<app-node-items-list [dataSource]="listItems" [onAdd]="onAdd" [onSelectedAll]="onSelectAll"></app-node-items-list>

<app-node-items-list [dataSource]="listItems" [onAdd]="onAdd" [onSelectedAll]="onSelectAll"></app-node-items-list>

<app-node-items-list [dataSource]="listItems" [onAdd]="onAdd" [onSelectedAll]="onSelectAll"></app-node-items-list>

<app-accounts></app-accounts>
<app-messages></app-messages>
<div class="mat-app-background basic-container">
  <app-contacts></app-contacts>
</div>
