<div class="node-element" [class.checked]="nodeItem.checked">
	<div class="display-elements">
		<div class="check-box">
			<label (click)="onClick()">
					<!-- <i class="material-icons">
							check
							</i> -->
				<input type="checkbox"/>
			</label>
		</div>
		<div class="title-block">
				<span>{{ nodeItem.name }}</span>
		</div>
		<div class="dragger">
				<!-- <i class="material-icons">
						drag_indicator
						</i> -->
		</div>
	</div>
	<div class="subitems" style="padding-left: 20px;">
			<app-node-item *ngFor="let n of nodeItem.items" [nodeItem]="n"></app-node-item>
	</div>
</div>
